[user]
        name = rboulben
        email = rboulben@hexaglobe.com
[push]
        default = simple

[alias]
    ls = ls-tree -r HEAD --name-only
    lsother = ls-files --others --exclude-standard
    lg = !"git lg1"
    lg1 = !"git lg1-specific --all"
    lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
    istrack = ls-files --error-unmatch
    wip = commit -a -m WIP
    squish = commit -a --amend -C HEAD
    ch = checkout
    st = status
    di = diff
    do = diff

[core]
    editor = vim

[diff]
  tool = pstorm
[difftool]
  prompt = false
[difftool.pstorm]
  cmd = /usr/local/bin/pstorm diff "$LOCAL" "$REMOTE"
[merge]
  tool = pstorm
[mergetool.pstorm]
  cmd = /usr/local/bin/pstorm merge "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
